.Button-Out {
  text-align: center;
  margin: 15px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 25px;
}

.Button-Out:hover {
  background-color: red;
  color: white;
}

label {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.containerReception {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button-Submit {
  width: 300px;
}
