.Button-Back {
  text-align: center;
  margin: 15px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 25px;
}

.Button-Back:hover {
  background-color: black;
  color: white;
}

.divCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 345px;
}
