@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Grid-OpenClose {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.Button-Open,
.Button-Close {
  text-align: center;
  margin: 15px;
  width: 200px;
  height: 70px;
  border-radius: 20px;
  border-color: black;
  font-size: 25px;
  font-family: "Ubuntu Condensed", sans-serif;
}

.Button-Open {
  background-image: linear-gradient(
    50deg,
    hsl(29deg 92% 46%) 0%,
    hsl(44deg 91% 63%) 33%,
    hsl(41deg 100% 59%) 67%,
    hsl(0deg 100% 50%) 100%
  );
}
.Button-Close {
  background-image: linear-gradient(
    0deg,
    hsl(271deg 92% 46%) 0%,
    hsl(260deg 100% 34%) 50%,
    hsl(0deg 0% 0%) 100%
  );
  color: white;
}
.Grid-Buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.Button {
  text-align: center;
  margin: 15px;
  width: 200px;
  height: 70px;
  border-radius: 20px;
  border-color: black;
  background-color: white;
  font-size: 25px;
  font-family: "Ubuntu Condensed", sans-serif;
}

.Button:hover {
  background-color: greenyellow;
}

@media screen and (max-width: 940px) {
  .Grid-Buttons {
    grid-template-columns: auto;
  }
  .Container {
    margin-top: 15%;
  }
}

@media screen and (max-width: 450px) {
  .Grid-Buttons {
    grid-template-columns: auto;
  }
  .Button-Open,
  .Button-Close,
  .Button {
    width: 140px;
    height: 100px;
  }
  .Container {
    margin-top: 50%;
  }
}

.Button-Out {
  text-align: center;
  margin: 15px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 25px;
}

.Button-Out:hover {
  background-color: red;
  color: white;
}

label {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 40px;
}

button {
  cursor: pointer;
}
