@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

form {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 35px;
  font-family: "Ubuntu Condensed", sans-serif;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.Input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ButtonLogin {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ButtonLogin:hover {
  background-color: #0062cc;
}
