.DivGeneral {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/144/825/large_2x/wood-textures-background-free-photo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
