/*.DivGeneral {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/031/766/small/light-blue-wide-background-with-radial-blurred-gradient-abstract-free-vector.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.NavBarMenu {
  display: flex;
  justify-content: space-around;
}
