.DivGeneral {
  height: 100vh;
}

.NavBarMenu {
  display: flex;
  justify-content: space-around;
}

.POS {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 67vh;
  width: 90%;
  background-color: aliceblue;
}

.POS1 {
  width: 80%;
  height: 100%;
  background-color: white;
}

.POS2 {
  width: 20%;
  height: 100%;
  background-color: blanchedalmond;
}
