.Graficos {
  display: grid;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  gap: 40px;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  border: solid;
  border-radius: 40px;
}

.Graficos1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
.Cuadratura {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1030px) {
  .Graficos {
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: 20px;
  }

  .Cuadratura {
    grid-template-columns: 1fr;
  }
  .Graficos1 {
    height: 300px;
    width: 50%;
  }
}

@media (max-width: 380px) {
}
