@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.PanelDiv {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  font-family: "Ubuntu Condensed", sans-serif;
  text-align: center;
  font-size: 25px;
  width: 80%;
}

.DivIngresos,
.DivEgresos {
  height: 50%;
}
