@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

.PanelDiv {
  width: 80%;
  text-align: center;
}
.Transacciones {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .Transacciones {
    grid-template-columns: auto;
  }

  .PanelDiv {
    margin-left: 200%;
  }
}
